.auth {
    overflow: hidden;
    .bg-wrapper {
        height: 100vh;
        padding: 10% 0;
        background-color: #f2c98a;
        .img {
            display: block;
            margin: 0 auto;
            &.logo {
                // padding-top: 60px;
            }
            &.bg {
                width: 60%;
            }
        }
    }
    .form {
        padding: 10% 20%;
        .title {
            margin: 24px 0;
        }
        .sub-title {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 24px 0;
            text-align: center;
            span {
                color: var(--primary-color);
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    color: var(--primary-hover);
                    transition: color 0.4s ease;
                }
            }
        }
    }
    .title {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 48px 0;
        text-align: center;
    }
}

.register-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    opacity: 0;
    transition: opacity linear 0.2s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &.overlay {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .form {
        position: relative;
        width: 480px;
        padding: 32px;
        background: var(--white-color);
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        .overlay-close {
            position: absolute;
            top: 36px;
            right: 36px;
            font-size: 1.6rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .title {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .sub-title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 24px;
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
}