.auth {
    overflow: hidden;
    .bg-wrapper {
        height: 100vh;
        padding: 10% 0;
        background-color: #f2c98a;
        .img {
            display: block;
            margin: 0 auto;
            &.logo {
                // padding-top: 60px;
            }
            &.bg {
                width: 60%;
            }
        }
    }
    .form {
        padding: 10% 20%;
        .title {
            margin: 24px 0;
        }
        .sub-title {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 24px 0;
            text-align: center;
            span {
                color: var(--primary-color);
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    color: var(--primary-hover);
                    transition: color 0.4s ease;
                }
            }
        }
    }
    .title {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 48px 0;
        text-align: center;
    }
}