<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/flex-grid.css">
    <link rel="stylesheet" href="css/auth.css">
</head>
<body>
    <div class="auth">
        <div class="row">
            <div class="col l-5">
                <div class="bg-wrapper">
                    <img class="img logo" src="img/logo/logo-2.svg" alt="Logo Image">
                    <h2 class="title">Welcome to CMS</h2>
                    <img class="img bg" src="img/background/auth.png" alt="Authentication Background Image">
                </div>
            </div>
            <div class="col l-7">
                <div class="form">
                    <h2 class="title">Sign In To CMS</h2>
                    <div class="form-group">
                        <label for="in-email">Email</label>
                        <input type="email" id="in-email" class="form-control" placeholder="Nhập email của bạn">
                    </div>
                    <div class="form-group">
                        <label for="in-password">Password</label>
                        <a href="/forgot-password">Quên mật khẩu?</a>
                        <input type="password" id="in-password" class="form-control" placeholder="Nhập mật khẩu của bạn">
                    </div>
                    <button class="btn w-100">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>