<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách</title>
    <link rel="icon" href="img/logo/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/flex-grid.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div class="app">
        <%- include('./partials/sidebar.ejs') %>
        <main class="main">
            <%- include('./partials/header.ejs') %>
            <div class="body">
                <div class="table">
                    <div class="t-header">
                        <h3 class="title">Lịch dạy</h3>
                    </div>
                    <div class="t-body">
                        <table style="text-align: center !important">
                            <thead></thead>
                                <tr class="render-header">
                                    <th width="5%">STT</th>
                                    <th width="15%">Ngày</th>
                                    <th width="15%">Môn</th>
                                    <th width="15%">Thời gian</th>
                                    <th width="15%">Link Phòng</th>
                                    <th style="text-align: center !important;" width="15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="render-data"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <div class="roll-up modal overlay">
        <form class="form">
            <h2 class="title">Điểm danh <span class="roll-date"></span></h2> <i class="overlay-close fal fa-times"></i>
            <div class="form-render">
            </div>
            <button style="margin: 0 0 0 auto;" type="button" class="btn size-s roll-save">Lưu</button>
        </form>
    </div>
    <div class="delete-user modal overlay">
        <form style="width: 630px" class="form">
            <h2 class="title">Bạn có muốn xóa người dùng này không?</h2> <i class="overlay-close fal fa-times"></i>
            <div class="delete">
                <button type="button" class="btn size-s n">Không</button>
                <button type="button" id="delete-user" class="btn size-s d">Xóa</button>
            </div>
        </form>
        <!-- <button style="margin: 8px 0 0 auto;" id="role" type="button" class="btn size-s role-save">Lưu</button> -->
    </div>
    <script src="js/sidebar.js"></script>
    <script src="js/schedule.js"></script>
    <script>
        getSchedule('<%=id%>')
    </script>
</body>
</html>